#exampleFormControlTextarea1{
height: 100rem;
}



.mt-10{
    margin-top: 10rem !important;

}

.hero-img{
    border: double  rgba(0, 0, 0, 0.6) 5px;
    box-shadow: 16px 15px 31px -10px rgba(0,0,0,0.72);
}

.contact-item a:hover{
    color: #0C6DFD !important;
}

.sec-icon{
    width: 50px !important;
    height: 50px !important;
}